@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    --lm_white: #F3EFF5;
    --lm_black: #020402;
    --lm_purple:#812CE5;
    --lm_green: #4BDBAB;
    --lm_blue: #00A7E1;
    --edge-roundness: 10px;

    margin: 0;
    color: var(--lm_white);
    background-size: 100%;
    font-family: "JetBrains Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.6px;
    align-items: center;
    align-items: center;
    scroll-behavior: smooth;
    scrollbar-color: var(--lm_white) var(--lm_black);
}
/* Responsive Typography */
p {
    margin: 0 0 1.2em;
}

/* -------fundo------- */
body{
    background: var(--lm_black);
    overflow-x: hidden;
}

::selection {
    background-color: var(--lm_purple);
    mix-blend-mode: difference;
    color: var(--lm_white);
}

/* Track */
::-webkit-scrollbar-track { 
    border-radius: 100%;
    background-color: #00000000;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--lm_white); 
    border-radius: 100%;
}


/* -------section margins------- */
section{
    overflow-x: hidden;
    /* cada section (sobre, eventos, projetos, artigos, membros, etc...) vai conter margens de 16vh 4vw */
    padding: 12vh 4vw;
    animation: appear_wscroll;
    animation-timeline: view();
}

/* -------h1------- */
h1{
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -5.12px;
    text-transform: uppercase;
    display: block;
}
.h1_divider{
    border: 0;
    height: 2px;
    background-color: var(--lm_white);
    margin-bottom: 50px;
}


/* -------barra de nav------- */
#menu36{
    display: none;
}

#loadingScreen{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    width: 100svw;
    overflow: hidden;
    background-color: var(--lm_black);
    z-index: 4;
    animation: fadeload 2s linear;
    animation-fill-mode: forwards;
}
#loadingScreen img{
    width: 15%;
    animation: fadeloadimg 2s linear;
}
@keyframes fadeloadimg {
    0% {
       opacity: 0;
    }
    100% {
       opacity: 90;
    }
}
@keyframes fadeload {
    85% {
       opacity: 100;
    }
    100% {
       opacity: 0;
       display: none;
    }
}
.nav_landing_page{
    width: 100%;
    width: 100svw;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    min-height: 100px;
}
.nav_landing_page a{
    font-size: 20px;
    opacity: 50%;
}
.nav_landing_page ul{
    border-style: solid;
    border-width: 1.5px;
    border-color: #f3eff578;
    border-radius: var(--edge-roundness);
    
}
.nav_landing_page li{
    padding: 1vh 0.5vw;
}
.nav_landing_page a:hover{
    animation-timeline: 100%;
    opacity: 100%;
}
.nav_principal{
    display: flex;
    position: sticky;
    top: 0;
    animation: appear_wscroll;
    animation-timeline: scroll();
    background: #000000b5;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    height: 80px;
    z-index: 2;
}
.no_animation{
    animation: none;
}
.barra_de_nav{
    display: flex;
    gap: 2vw;
    padding: 2vw;
    background: var(--lm_black 70);
}

.navbar_logo{
    margin-left: 2vw;
    height: 1.5em;
    box-sizing: border-box;
}
.barra_de_nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.barra_de_nav a{
    line-height: normal;
    text-align: center;
    text-decoration: none;
}
.barra_de_nav li{
    text-wrap: nowrap;
    margin: 0 10px;
}
.barra_de_nav a:hover{
    text-decoration: underline;
}
@keyframes appear_wscroll{
    0%{opacity: 0;}
    17%{opacity: 1;}
}


/* --------cena 3D-------- */
#test{
    align-content: center;
    display: block;
    height: 100%;
    height: 100svh;
    padding: 0;
    margin: 0;
    overflow-x: hidden
}


/* -------sobre------- */
.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
    align-self: stretch;
}

.text_box {
    flex: 1.618;
    padding-right: 4vw;
    padding-bottom: 50px;
    min-width: 250px;
}

#veryrealstats{
    gap: 4vw;
    flex-direction: row;
}

.video {
    flex: 1.618;
}

.video video {
    border-radius: var(--edge-roundness);
    min-width: 300px;
    max-width: 100%;
}

#sobrenos_1000plus{
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    color: var(--lm_green);
    flex: auto;
}
#sobrenos_10plus{
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    color: var(--lm_blue);
    flex: auto;
}

/* --------projetos-------- */
.carouselview, .carouselview2{
    display: flex;
    gap: 1.5vw;
    align-items: center;
}
.scrolling-wrapper, .scrolling-wrapper2 {
    &::-webkit-scrollbar {
        display: none;
      }
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    display: flex;
    scroll-behavior: smooth;
    overflow-y: auto;
    flex-wrap: nowrap;
    width: 100%;
    width: 100svw; /* for mobile devices */
    border-radius: var(--edge-roundness);
  }
.card, .card2{
    scroll-snap-align: center;
    min-height: 570px;
    min-width: 260px;
    padding: 50px 25px;
    margin-right: 25px;
    border-radius: var(--edge-roundness);
    background-size: cover;
    background-image: url(assets/fundo/fundopreto.png);
    transition: background-image 0.2s ease;
}

.imagecontainer, .imagecontainer2{
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: 50%;
    border-radius: var(--edge-roundness);
    transition: background-image 0.5s ease;
    overflow: hidden;
    margin-bottom: 8%;
    cursor: pointer;
}

.imagecontainer-overlay, .imagecontainer-overlay2{
    display: flex;
    box-sizing: border-box;
    padding: 2%;
    flex-direction: column;
    justify-content: end;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #00000000 0%,#11111163 80%, #111111 100%);    ;
    border-radius: inherit;
    
}
.card-header, .card-header2{
    overflow-wrap: break-word;
    text-wrap: balance;
    font-size: 32px;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: -2px;
}
.card-content, .card-content2{
    display: block;
    overflow-wrap: break-word;
    flex: 1;
    hyphens: auto;
    overflow-y: hidden;
    height: 25vh;
    height: 8lh;
    font-weight: 100;
    &::-webkit-scrollbar {
        display: none;
      }
    scrollbar-width: none;
    -webkit-overflow-scrolling: none;
    scroll-behavior: smooth;
}
.info-button, .info-button2{
    margin-top: 50px;
    text-wrap: nowrap;
    background-color: #000000b5;
    border: none;
    padding: 5%;
    text-align: center;
    width: 100%;
    border-radius: inherit;
    cursor: pointer;

}
.carousel-next-button, .carousel-prev-button, .carousel-next-button2, .carousel-prev-button2{
    border-radius: var(--edge-roundness);
    border: none;
    cursor: pointer;
    color: var(--lm_white);
    background-color: #2d2d2db2;
    width: 2vw;
    height: 2vw;
    min-width: 30px;
    min-height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.carouselview button:hover, .carouselview2 button:hover{
    background-color: #822ce549;
}

.carousel-next-button, .carousel-next-button2{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxLjJlbSIgaGVpZ2h0PSIxLjJlbSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZjNlZmY1IiBkPSJNMTAuNDYgMThhMi4yIDIuMiAwIDAgMS0uOTEtLjJhMS43NiAxLjc2IDAgMCAxLTEuMDUtMS41OVY3Ljc5QTEuNzYgMS43NiAwIDAgMSA5LjU1IDYuMmEyLjEgMi4xIDAgMCAxIDIuMjEuMjZsNS4xIDQuMjFhMS43IDEuNyAwIDAgMSAwIDIuNjZsLTUuMSA0LjIxYTIuMDYgMi4wNiAwIDAgMS0xLjMuNDYiLz48L3N2Zz4=");
}
.carousel-prev-button, .carousel-prev-button2{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxLjJlbSIgaGVpZ2h0PSIxLjJlbSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZjNlZmY1IiBkPSJNMTMuNTQgMThhMi4wNiAyLjA2IDAgMCAxLTEuMy0uNDZsLTUuMS00LjIxYTEuNyAxLjcgMCAwIDEgMC0yLjY2bDUuMS00LjIxYTIuMSAyLjEgMCAwIDEgMi4yMS0uMjZhMS43NiAxLjc2IDAgMCAxIDEuMDUgMS41OXY4LjQyYTEuNzYgMS43NiAwIDAgMS0xLjA1IDEuNTlhMi4yIDIuMiAwIDAgMS0uOTEuMiIvPjwvc3ZnPg==");
}

@media (max-width: 390px) {
    .carousel-next-button, .carousel-next-button2, .carousel-prev-button, .carousel-prev-button2{
        display: none;
    }
}    

/* --------artigos-------- */
#artigos{
    padding-top: 8vh;
}
#publications{
    padding-top: 8vh;
    max-width: 700px;
}
.article_title{
    display: flex;
    width: fit-content;
    align-items: center;
    font-size: 32px;
    text-decoration: none;
    transition: color 0.2s ease;
}
.article_title::after{
    color: var(--lm_purple);
}
.article_title:hover{
    text-decoration: underline;
}
.second{
    color: var(--lm_blue);
    line-height: 6vh;
    width: fit-content;
    font-weight: 600;
    font-style: italic;
    /* margin-bottom: 1vh; */
    border-width: 1px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.third{
    margin: 3vh 0 6vh;
    display: block;
    color: var(--lm_green);
    font-weight: 100;
}
.abstract{
    width: fit-content;
    max-width: 750px;
    position: fixed;
    left: 780px;
    margin: 4vw;
    transform: translate(0, -50%);
    top: 46%;
    border-radius: var(--edge-roundness);
    padding: 25px;
    background-size: cover;
    background-image: url(assets/fundo/fundopreto.png);
    transition: all 1s ease;
    animation-name: fadeInAbstract;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-duration: 0.3s;
    display: none;
}
.fourth{
    hyphens: auto;
    line-height: 1.75em;
    letter-spacing: 0.05em;
    text-align: left;
    word-spacing: 0.1em;
    display: block;
    max-height: 50vh;
    overflow: auto;
    overflow-x: hidden;
}
.artigo-wrapper{
    align-items: center;
    margin-top: 12vh;
}
#artigos_importados_horizontal{
    margin: 8vh 0 8vh 0;
    gap: 8vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
    
}
.article_chunk{
    width: 40%;
    min-width: 350px;
}

@keyframes fadeInAbstract {
    from {
        opacity: 0;
        transform: translateY(-53%);
    }
    to { opacity: 1 }
}

@media (min-width: 1290px) {
    .highlightAbstract{
        display: block;
    }
}

/* --------equipe-------- */
.all_members{
    justify-content: center;
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    flex-flow: auto;
    gap: 4vw;
}
#estudantes, #professores{
    display: flex;
    flex-direction: column;
    gap: 4vw;
    max-width: 570px;
}
.professorescard, .estudantescard{
    display: flex;
    width: 100%;
}

.professorescard h2, .estudantescard h2{
    display: flex;
    flex: 1;
    padding: 10px 25px 5px 25px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--edge-roundness);
    background: rgba(255, 255, 255, 0.25);
}

.profile_container {
    padding: 0.5vw;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-around;;
    align-items: flex-start;
    align-content: flex-start;
}

.grid_item{
    align-items: center;
    width: 160px;
    height: 420px;
}
.equipe h2{
    font-size: 24px;
    display: block;
}
.textg{
    display: block;
    max-width: 160px;
}
.textg div{
    margin-bottom: 15px;
}
.profile_image img{
    display: flex;
    width: 160px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.profile_name{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1.5px;
}
.profile_function text{
    font-weight: 100;
    letter-spacing: -1.5px;
}
.ln{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: -1.28px;
    gap: 5px;
}
.ln text, .ln a{
    color: var(--lm_green);
    text-decoration: none;
}
.ln text:hover{
    text-decoration: underline;
}

.ln img{
    width: 19.5px;
    height: 20px;
}

.profile_image, .profile_function{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: stretch;
}


/* --------footer-------- */
footer {
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: normal;
    box-sizing: border-box;
}

.fup {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 75%;
    padding: 5% 0 10% 0;
    gap: 30px;
}

.fup img {
    margin-bottom: 2%;
    width: 20vw;
}

.fup a {
    text-align: center;
    line-height: normal;
    text-decoration: none;
}

.fup a:hover {
    text-decoration-line: underline;
}

.fup a::after {
    color: var(--lm_purple);
}

.fdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--Brand-Colors-VR-Purple, #812CE5);
    font-size: 20px;
    line-height: normal;
    letter-spacing: -1.6px;
}

.fd {
    display: flex;
    color: var(--Brand-Colors-VR-White, #F3EFF5);
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -1.6px;
    gap: 5px;
}

.fd:hover {
    text-decoration-line: underline;
}

.fleft {
    display: flex;
    flex-direction: row;
    /* width: 50%; */
    align-items: baseline;
    justify-content: space-around;
}

.logos {
    display: inline-flex;
    flex: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
    align-items: center;
}

@media (min-width: 895px) {
    .logos {    
        opacity: 30%;
        background-color: #00000000;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        position: fixed;
        border-radius: var(--edge-roundness);
        padding: 15px;
        align-self: baseline;
        bottom: 4svh;
        right: 4vh;
        transition: all 0.2s ease-out;
        animation: fadeInShort ease-in;
        animation-timeline: scroll();
    }

    .logos:hover{
        opacity: 100%;
        background-color: #00000017;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    }
}

@keyframes fadeInShort{
    97% {opacity: 30%;}
    100% {opacity: 100%;}
}

.firstMobile{
    display: none;
}

/* --------contato-------- */
.contato{
    height: 100vh;
    height: 100svh;
    padding: 0;
}

.contact a{
    text-decoration: none;
}

.contact:hover{
    text-decoration: underline;
}

.contact-logo{
    display: flex;
    padding: 12vh 10vh;
    padding: 12svh 10svh;
    justify-content: center;
}

.contact-logo img{
    padding: 50px;
    width: 50vw;
    width: inherit;
    width: 100px;
}

.contact-list-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-line{
    padding: 4vh;
}

.contact-list-box ul{
    padding: 0;
}

.contact-list-box li, .contact-list-box img{
    opacity: 0;
    list-style: none;
    animation-name: fadeInTop;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 0.6s;
}

@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    to { opacity: 1 }
}

.contact-list-box li:nth-child(1), .contact-list-box img:nth-child(0){
    animation-delay: 0s;
}

.contact-list-box li:nth-child(2), .contact-list-box img:nth-child(1){
    animation-delay: 0.3s;
}

.contact-list-box li:nth-child(3), .contact-list-box img:nth-child(2){
    animation-delay: 0.6s;
}

.contact-list-box li:nth-child(4), .contact-list-box img:nth-child(3){
    animation-delay: 0.9s;
}

.contact-line{
    display: flex;
    gap: 20px;
}

@media (min-width: 895px) {
    .card:hover, .card2:hover{
        background-image: url(assets/fundo/fundoroxo.png);
    }
}

@media (max-width: 895px) {
    #loadingScreen img{
        width: 30%;
    }

    #artigos_importados_horizontal{
        justify-content: center;
    }
    .sobreAux{
        display: flex;
        flex-direction: column;
    }

    /* main section for mobile */
    .text_box{
        margin-top: 100vw;
        padding: 4vw;
    }
    .video {
        border-radius: 0;
        width: 100%;
        transform: scale(1);
        transform-origin: top;

    }

    .video video{
        display: none;
    }
    
    #test{
        display: none;
    }

    #sobre{
        padding: 0%;
    }
  
    body{
        overflow-x: hidden;
    }

    .firstMobile{
        display: flex;
        justify-content: center;
        margin-bottom: -100%;
    }

    .heroMobile{
        width: 100%;  /* Width of the rectangle */
        height: 45vh; /* Height of the rectangle */
        border-radius: var(--edge-roundness);
    }

    .videoHero{
        width: 100%;
        height: 100%;
        min-height: inherit;
        object-fit: cover;
        border-radius: inherit;
    }

    /* hide carousel buttons */
    .fup img {
        margin-bottom: 2%;
        width: 40vw;
        min-width: 200px;
        max-width: 300px;
    }

    /* navbar */
    .nav_landing_page ul{
        flex-direction: column;
        margin-top: 25vh;
    }
    .nav_landing_page{
        justify-content: center;
        width: fit-content;
    }

    .nav_principal{
        justify-content: space-evenly;
    }

    .navbar_logo{
        margin: 0;
        height: 1.5em;
        box-sizing: border-box;
    }

    nav .navListContent{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0px;
        right: 0px;
        background-color: #000000b5;
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
        padding-bottom: 6vh;
        padding-top: 2vh;
    }
    .barra_de_nav li{
        width: 100%;
    }
    .barra_de_nav a{
        text-align: center;
        padding: 20px;
        display: block;
    }
    nav .menu_toggle{
        display: block;
        margin-right: 10vw;
    }

    nav .menu_toggle span{
        display: block;
        width: 30px;
        border: 2px solid var(--lm_white);
        height: 0px;
        background-color: var(--lm_white);
        margin: 25px;
        cursor: pointer;
        border-radius: 3px;
    }

    nav .menu_toggle span:nth-last-of-type(1) {
        position: absolute;
        top: 0px;
        transition: top .15s .15s, transform .15s;
    }
    nav .menu_toggle span:nth-last-of-type(2){
        position: absolute;
        top: 10px;
        transition: top .15s .15s, transform .15s;
    }
    nav .menu_toggle span:nth-last-of-type(3){
        position: absolute;
        top: 20px;
        transition: top .15s .15s, transform .15s;
    }
    nav .menu_toggle span:nth-last-of-type(4){
        position: absolute;
        top: 0px;
        width: 30px;
        height: 30px;
        border: none;
        background-color: #00000000;
    }

    nav .menu_toggle.active span:nth-last-of-type(1) {
        position: absolute;
        top: 10px;
        transform: rotate(45deg);
        transition: top .15s, transform .15s .15s;
    }
    nav .menu_toggle.active span:nth-last-of-type(2), nav .menu_toggle.active span:nth-last-of-type(3) {
        position: absolute;
        top: 10px;
        transform: rotate(-45deg);
        transition: top .15s, transform .15s .15s;
    }

    nav .menu_toggle.active+.navListContent{
        display: flex;
    }

    section{
        padding: 4vw;
    }

    .nav_principal{
        animation: none;
    }

}